<div class="weather">
  <h1 class="website__title">the.weather</h1>

  <div class="weather-basic-descr">
    <span class="weather__degree">{{ weather.main.temp }}°</span>

    <div class="weather-city-date">
      <span class="weather__city">{{ weather.name }}</span>
      <span>{{ weather.date | date: 'medium' }}</span>
    </div>

    <div class="weather-mood">
      <img src="http://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png" style="width: 50px; height: 50px;" />
      <span class="">{{ weather.weather[0].main }}y</span>
    </div>
  </div>
</div>
<div class="weather-description">
  <!-- <div class="change-location">
    <h2 class="change-location__title">Another location</h2>
    <hr />

    <div class="locations">
      <p class="location">London</p>
      <p class="location">Paris</p>
      <p class="location">Berlin</p>
      <p class="location">Berne</p>
    </div>
  </div> -->

  <h2 class="details__title">Weather Details</h2>
  <div class="weather-details">
    <div class="details">
      <span class="details__name">Cloudy</span> <span class="details__value">{{ weather.clouds.all }}%</span>
    </div>

    <div class="details">
      <span class="details__name">Humidity</span> <span class="details__value">{{ weather.main.humidity }}%</span>
    </div>

    <div class="details">
      <span class="details__name">Wind</span> <span class="details__value">{{ weather.wind.speed * 3.6 }}km/h</span>
    </div>

    <!-- <div class="details">
      <span class="details__name">Rain</span> <span class="details__value">{{ weather.rain['1h'] }} mm</span>
    </div> -->

    <hr />
  </div>
</div>